* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
html {
  font-size: 62.5%;
  background-color: #0f0617;
  color: white;
}

.carousel-cell > a  {
 text-decoration: none;
 color: white;
 width: 30%;
}

.carousel-cell > a >img{
    width: 50rem;
    height: 25rem;
}
.carousel-cell{
  margin: 2rem;
}

.carousel-cell > a >p{
  width: 50%;
  font-size: 1.5rem;
}
h1{
  font-size: 3rem;
  margin-top: 2rem;
  padding-left: 4rem;
}
.kd_tech>a{
  text-decoration: none;
  color: white;
  margin-left: 90%;
  font-size: 2rem;
}
.kd_head>a{
  text-decoration: none;
  color: white;
  margin-left: 90%;
  font-size: 2rem;
}
.kd_apple>a{
  text-decoration: none;
  color: white;
  margin-left: 90%;
  font-size: 2rem;
}
.kd_tesla>a{
  text-decoration: none;
  color: white;
  margin-left: 90%;
  font-size: 2rem;
}
.kd_local>a{
  text-decoration: none;
  color: white;
  margin-left: 90%;
  font-size: 2rem;
}

@media all and (min-width: 768px) and (max-width: 1024px){
  html{
      font-size: 52.5%;
  }
  .kd_tech>a{
   
    margin-left: 90%;
   
  }
  .kd_head>a{
    
    margin-left: 90%;
    
  }
  .kd_apple>a{
   
    margin-left: 90%;
    
  }
  .kd_tesla>a{
   
    margin-left: 90%;
    
  }
  .kd_local>a{
   
    margin-left: 90%;
    
  }
}

@media all and (min-width: 320px) and (max-width: 767px){
  html{
      font-size: 42.5%;
  }
  .kd_tech>a{
   
    margin-left: 80%;
   
  }
  .kd_head>a{
    
    margin-left: 80%;
    
  }
  .kd_apple>a{
   
    margin-left: 80%;
    
  }
  .kd_tesla>a{
   
    margin-left: 80%;
    
  }
  .kd_local>a{
   
    margin-left: 80%;
    
  }
}