* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
#sh_navbar {
  position: sticky;
  top: 0px;
  z-index: 10;
}
#sh_navbar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #0f0617;
  color: white;
  /* border: 1px solid green; */
  padding: 10px 15px 10px 15px;
}
#sh_container1 {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  gap: 30px;
  align-items: center;
  /* border: 1px solid red; */
}
#sh_container1 > div > img {
  width: 50px;
  height: 50px;
}
#sh_container1 > div > a {
  width: 100%;
  text-decoration: none;
  color: white;
  font-weight: bold;
}
#sh_container1 > div:hover {
  text-decoration: underline;
}
#sh_container2 {
  width: 100%;
  display: flex;
  gap: 30px;
  justify-content: flex-end;
  align-items: center;
  /* border: 1px solid yellow; */
}
#sh_container2 > input {
  width: 42%;
  height: 40px;
  border: none;
  outline: 1px solid lightgray;
  border-radius: 5px;
  background-color: #0f0617;
  color: lightgray;
  padding-left: 10px;
  margin-left: 20px;
}
#sh_container2 > input:focus {
  /* width: 50%; */
  /* padding-left: 30px; */
  outline: 1px solid #8230c6;
}
#login {
  width: 10%;
  height: 40px;
  border: 2px solid whitesmoke;
  background-color: #0f0617;
  border-radius: 5px;
  margin-left: -10px;
}
#login:hover {
  background-color: white;
}
#login:hover > a {
  background-color: white;
  color: #0f0617;
  font-weight: bold;
}
#login > a {
  width: 100%;
  text-decoration: none;
  color: white;
  font-weight: bold;
}
#buyplan {
  width: 18%;
  height: 40px;
  background-color: #8230c6;
  border-radius: 5px;
  margin-left: -10px;
}
#buyplan:hover {
  background-color: #460f73;
}
#buyplan > a {
  width: 100%;
  text-decoration: none;
  color: white;
  font-weight: bold;
}
#sh_lines {
  width: 4%;
  height: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 4px;
  border-radius: 40px;
  /* border: 0.1px solid whitesmoke; */
  margin-top: 10px;
  margin-left: -10px;
}
#sh_lines > hr {
  width: 80%;
  height: 4px;
  background-color: white;
  border-radius: 2px;
}
#sh_lines :hover {
  cursor: pointer;
}
#sh_lines > div {
  display: none;
  position: absolute;
  width: 300px;
  background-color: #0f0617;
  border-radius: 10px;
  padding: 0px 15px;
  padding-bottom: 10px;
  margin-right: 210px;
  margin-top: 330px;
}
#sh_lines:hover > div {
  display: block;
  transition: all 0.5s;
  gap: 10px;
}
#sh_lines > div > div {
  padding: 12px 15px;
  background-color: #0f0617;
  border-radius: 10px;
  text-align: center;
}
#sh_lines > div > div:hover {
  background-color: #1f0335;
  cursor: pointer;
  transition: all 0.4s;
}
#sh_lines > div > div > a {
  color: white;
  text-decoration: none;
  font-size: 20px;
}
#sh_lines:hover > #navbar {
  filter: blur(3px);
  opacity: 0.5;
  transform: scale(0.98);
  box-shadow: none;
}
#sh_result {
  width: 20%;
  position: absolute;
  top: 12%;
  left: 58.5%;
  z-index: 10;
  /* border: 1px solid green; */
  border-radius: 10px;
  font-size: 18px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  background-color: #0f0617;
  padding-left: 5px;
}
#sh_result > div {
  /* border: 1px solid teal; */
  margin-bottom: 10px;
  color: white;
}
#sh_result > div > h3:hover {
  text-decoration: underline;
}
#sh_dropDown > div {
  display: none;
  position: absolute;
  width: 220px;
  background-color: #0f0617;
  margin-left: -80px;
  border-radius: 10px;
  padding: 0px 15px;
  padding-bottom: 10px;
}
#sh_dropDown > div > div > a {
  color: white;
  text-decoration: none;
  font-size: 20px;
}
#sh_dropDown:hover > div {
  display: block;
  transition: all 0.5s;
}
#sh_dropDown > div > div {
  padding: 12px 15px;
  background-color: #0f0617;
  border-radius: 10px;
  text-align: center;
}
#sh_dropDown > div > div:hover {
  background-color: #1f0335;
  cursor: pointer;
  transition: all 0.4s;
}
.sh_blury {
  position: sticky;
  height: auto;
  width: 100%;
  color: grey;
  background-color: #0d0812;
  /* backdrop-filter: blur(5px); */
  top: 10;
  left: 0;
  opacity: 0.7;
  z-index: -1;
}

@media all and (min-width: 360px) and (max-width: 900px) {
  #sh_navbar {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: #0f0617;
    color: white;
    /* border: 1px solid green; */
    /* padding: 10px 15px 0px 15px; */
  }
  #sh_container1 {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
    align-items: center;
    /* border: 1px solid red; */
    /* margin-left: -10px; */
  }
  #sh_container2 {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    align-items: center;
    /* border: 1px solid yellow; */
    margin-left: -20px;
  }
  #login {
    width: 15%;
    height: 40px;
    border: 2px solid whitesmoke;
    background-color: #0f0617;
    border-radius: 5px;
    margin-left: -10px;
  }
}
