* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
#sh_navbar {
  position: sticky;
  top: 0px;
  z-index: 10;
}
#sh_forgotMain {
  width: 100%;
  min-height: 100vh;
  background-color: #0f0617;
  padding-top: 50px;
}
#sh_main {
  width: 22%;
  height: auto;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  background-color: #0f0617;
  color: white;
  justify-content: center;
  align-items: center;
}
#sh_main > h3 {
  text-align: center;
  margin-bottom: 20px;
}
#sh_main > form > input {
  background-color: #0f0617;
  border: 0px;
}
#sh_main > form > input:focus {
  outline: 0px;
  color: white;
  height: 25px;
}
#sh_main > form > input + br + hr {
  border-width: 0.2px;
  color: darkgrey;
  margin-bottom: 8px;
}
#form > button {
  width: 330px;
  height: 45px;
  margin-bottom: 20px;
  padding: 2px;
  background-color: #0f0617;
  border-radius: 10px;
  color: hsla(0, 0%, 100%, 0.5);
  font-weight: bold;
  font-size: 15px;
  margin-top: 20px;
  outline: 1px solid hsla(0, 0%, 100%, 0.5);
  border: 0px;
  cursor: pointer;
}
#sh_main > h4 {
  text-align: right;
  color: white;
  margin-top: -30px;
  margin-right: -500px;
}
#sh_main > h4 > a {
  color: white;
  text-decoration: none;
}
#sh_main > h4 > a:hover {
  color: white;
  text-decoration: none;
  font-size: 18px;
}
